__pycache__/
src/*.egg-info/
build/
dist/
*.py[cod]
*$py.class
*.so
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
site/
